<div class="post">
    <div class="post-header">
      <!-- <img src="user-profile-picture.jpg" class="profile-picture" alt="Profile Picture"> -->
      <div class="post-info">
        <!-- <h6 class="post-author">John Doe</h6> -->
        <p class="post-date">{{ post?.creationDate| date:'medium' }}</p>
      </div>
    </div>
    <p class="post-content">{{ post?.content }}</p>
    <!-- <div class="post-actions">
      <button class="btn btn-sm btn-primary">Like</button>
      <button class="btn btn-sm btn-link">Comment</button>
    </div> -->
  </div>