.post {
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background-color: rgba(59, 59, 59, 0.945);
    color: white;
    border-radius: 10px;
}

.post-date {
    opacity: 0.5;
}