.navbar {
    height: 50px;
    background-color: white;
  }
  
  .navbar-brand {
    margin-left: 10%;
  }
  
  .navbar-nav {
    margin-right: 10%;
  }
  
  .nav-item {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .nav-item a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5%;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-item a:hover {
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    opacity: 1;
  }
  
  .nav-item.active a {
    opacity: 1;
    font-weight: 400;
  }

  .nav-item input {
    background-color: rgb(239, 239, 239);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: none;
    transition: all 0.1s ease-in-out;
  }

  .nav-item input:hover {
    background-color: rgb(230, 230, 230);
  }

  .nav-item input:focus {
    background-color: rgb(230, 230, 230);
    outline: none;
  }

  .search-button {
    background-color: rgb(173, 173, 173);
    color: white;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
    transition: all 0.1s ease-in-out;
  }

  .search-button:hover {
    background-color: rgb(0, 0, 0);
  }