<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Social Network</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="">Home</a>
        </li>

        <form (submit)="searchUsers()">
          <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search...">
          <button type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a *ngIf="isAuthenticated" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  