<div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-profile" routerLinkActive="active"><i class="bi bi-person-circle"></i> My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="bi bi-newspaper"></i> News</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/groups" routerLinkActive="active">Groups</a>
      </li> -->
    </ul>
  </div>